<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wishlist</title>
    <link rel="stylesheet" href="css/wishlist.css">
    <script src="/javascript/wishlist.js" defer></script>
    
</head>
<body>
  {{>navbar}}
  <div class="header">
            <h1>My Wishlist</h1>
        </div>
    <div class="grid">
        <div class="items section">
            <div class="box">
                <i class="fa-solid fa-x product-remove" id="close-btn"></i>
                <img
                  src="../img/fire-bolt-women-digital/fire-bolt.avif"
                  alt=""
                  class="product-img"
                />
                <h2 class="product-title">Fire Bolt Ninja Fit Women Smartwatch</h2>
                <span class="price">Rs 1099</span>
                <div class="add-to-bag">
                  <button class="add-cart" type="button">Move To Cart</button>
                </div>
              </div>


              
    <script src="https://kit.fontawesome.com/dbd30876c2.js" crossorigin="anonymous"></script>
    <script src="/javascript/wishlist.js"></script>
</body>
</html>